[global]
    server role = standalone server
    log file = /dev/stdout
    log level 8
    printcap name=cups
    winbind enum groups=yes
    server signing=mandatory 
    min protocol=SMB3
    security=user
    local master=no
    realm=*

    obey pam restrictions = yes
    printcap name = /dev/null
    load printers = no
    dns proxy = no
    wide links = yes
    follow symlinks = yes

    passdb backend=smbpasswd
    printing=cups
    max protocol=SMB3
    winbind enum users=yes
    load printers=yes
    workgroup=WORKGROUP

    ea support = yes
    fruit:resource = file
    fruit:locking = netatalk

    fruit:aapl = yes
    vfs objects = catia fruit streams_xattr
    fruit:nfs_aces = no
    fruit:zero_file_id = yes
    fruit:metadata = stream
    fruit:encoding = native 

[Storage]
    recycle bin admin only=no
    ftp disable modify=no
    ftp disable download=no
    write list=alice
    browseable=yes
    read list=nobody,nobody
    hide unreadable=no
    win share=yes
    enable recycle bin=no
    invalid users=nobody,nobody
    valid users=alice
    ftp disable list=no
    # edit synoacl=yes
    writeable=yes
    guest ok=no
    ead only=no
    force group=family
    path=/shares/testshare
    skip smb perm=yes
    comment=""