[global]
    server role = standalone server
    log file = /dev/stdout
    log level 10
    dns proxy = no 

    # password stuff
    passdb backend = smbpasswd

    obey pam restrictions = yes
    security = user
    printcap name = /dev/null
    load printers = no
    wide links = yes
    follow symlinks = yes
    unix extensions = no
    acl allow execute always = yes
    printcap name=cups
    winbind enum groups=yes
    server signing=mandatory 
    security=user
    local master=no
    realm=*

    server multi channel support=yes
	access based share enum=no
    min protocol=SMB2
	aio read size=1
    smb2 leases=yes
    kernel share modes=no
	disable shadow copy=no
	durable handles=yes

    ea support = yes
    vfs objects = fruit streams_xattr  
    fruit:metadata = stream
    fruit:model = MacSamba
    fruit:veto_appledouble = no
    fruit:nfs_aces = no
    fruit:wipe_intentionally_left_blank_rfork = yes 
    fruit:delete_empty_adfiles = yes 
    fruit:posix_rename = yes 

    # fix filenames with special chars (should be default)
    mangled names = no
    dos charset = CP850
    unix charset = UTF-8

[Storage]
    # recycle bin admin only=no # unknown parameter
    # ftp disable modify=no # unknown parameter
    # ftp disable download=no # unknown parameter
    write list=alice
    browseable=yes
    read list=alice
    hide unreadable=no
    win share=yes
    # enable recycle bin=no
    invalid users=nobody,nobody
    valid users=alice
    # ftp disable list=no # unknown parameter
    # edit synoacl=yes
    writeable = yes
    read only = no
    guest ok=no
    # ead only=no # unknown parameter
    force group=family
    path=/shares/testshare
    # skip smb perm=yes # unknown parameter
    comment=""