[global]
    server role = standalone server
    log file = /dev/stdout
    log level 5
	printcap name=cups
	winbind enum groups=yes
	min protocol=SMB2
	security=user
	local master=no
	realm=*
	passdb backend=smbpasswd
	printing=cups
	max protocol=SMB3
	winbind enum users=yes
	load printers=yes
	workgroup=WORKGROUP

[Storage]
	recycle bin admin only=no
	ftp disable modify=no
	ftp disable download=no
	write list=nobody,nobody
	browseable=yes
	read list=nobody,nobody
	hide unreadable=no
	win share=yes
	enable recycle bin=no
	invalid users=nobody,nobody
	valid users=nobody,nobody
	ftp disable list=no
	# edit synoacl=yes
	writeable=yes
	guest ok=yes
	path=/shares/testshare
	skip smb perm=yes
	comment=""